<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>
        Всё для уюта: оформление заказа
    </title>
    <script src="/scripts/timer.js"></script>
    <script src="/scripts/cart.js"></script>  
</head>

<body>
    <!--Begin header -->
    <header class="bg-dark navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a href="/" class="navbar-brand">
            <img src="/images/logo2.png" alt="logo" width="50" height="50">
        </a>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="/product" class="nav-link">Товары</a>
                </li>
                <li class="nav-item">
                    <a href="/delivery" class="nav-link">Доставка</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">О нас</a>
                </li>

            </ul>
        </div>
    </header>
    <br>
    <!--END header -->
    <!-- Begin Content -->
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        <p>
                            Товары к оформлению
                        </p>
                    </div>
                    <form action="/cart" method="POST">
                        <div class="row">
                            <input name="items" type="text" id="items" hidden>
                            {{#each mas}}
                            <div class="cart_client col-6 col-md-4 ">
                                <div class="row" style="padding: 10px 0;">
                                    <div class="col-12 col-md-12 col-xl-6">
                                        <img class="PhotoProduct" src="/images/{{PhotoID}}.jpg" width="100px"
                                            height="100px" alt="photoPruduct">
                                    </div>
                                    <div class="col-12 col-md-12 col-xl-6 container_cart">
                                        <p class="cart_text">{{Product_Name}} ({{count}})</p>
                                        <button submit="/cart" onclick="addProductItem(this.value)"
                                            class="btn btn-success cart_text" value="{{ID}}">
                                            Добавить
                                        </button>
                                        <button submit="/cart" onclick="removeProductItem(this.value)"
                                            class="btn btn-danger cart_text" value="{{ID}}">
                                            Удалить
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <form method="POST" action="/order">
                        {{#each mas}}
                        <input name="{{ID}}" type="text" id="items" value="{{count}}" hidden>
                        {{/each}}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Адрес<a
                                        title="Это поле является обязательным">*</a></span>
                            </div>
                            <input required name="activeAddress" id="activeAddress" class="form-control"
                                aria-label="Address" type="text" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="control" value="1" name="type" checked="" type="radio" id="defaultCheck1">
                                Забрать из магазина
                                <input class="control" value="0" name="type" type="radio">
                                Доставка
                            </label>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            Ваше Имя<a title="Это поле является обязательным">*</a>
                                        </span>
                                    </div>
                                    <input name="Name" id="Name" required type="text" class="form-control"
                                        maxlength="12" aria-label="Name" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            Телефон <a title="Это поле является обязательным">*</a>
                                        </span>
                                    </div>
                                    <input name="Telephone" id="Telephone" required type="Tel" maxlength="11"
                                        class="form-control" aria-label="Phone" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="container Come_Order">
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-success">Отправить заказ</button>
                                    </div>
                                    <div class="col-6">
                                        <p class="PriceNow">
                                            Сумма заказа: {{PriceAll}} Руб.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> <br>
    <!--END content -->
    <!--FOOTER -->
    {{> footer}}
    <!--END FOOTER -->
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/sortproduct.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</body>

</html>